body{
    background-color: black;
}
.container{
    max-width: 500px;
    margin-top: 50px;
    
}
.inputtext {
    border-bottom-right-radius:0px ;
    border-bottom-left-radius:0px ;
}
.spancontainer {
    background-color: white;
}
.maincontainer {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 5px;
}
.titletagclass {
    width: 80%;
}
.imgtag {
    height: 80%;
}